body {
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.sidebar {
    display: flex;
}

.sidebar nav {
    display: flex;
    gap: 50px;
    margin-right: 100px
}

.header .headerMain h1 {
    font-size: 48px;
    font-weight: 900;
}

.headerMain {
    flex-direction: column;
    display: flex;
    max-width: 400px;
    align-self: flex-start;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.button {
    display: flex;
    align-self: flex-end;
}

.header h1,
.headerMain {
    font-size: 24px;
    color: #F9FAF8;
}

.header h1 {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
